.enllacs-quisom {
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
}

.enllac-adrian, .enllac-jeiron {
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 20px;
    transform: scale(0.9);
}

.enllac-adrian a, .enllac-jeiron a {
    color: #000;
    text-decoration: none;
}

.enllac-adrian:hover, .enllac-jeiron:hover {
    text-decoration: underline;
    transform: scale(1);
}

.enllac-adrian img, .enllac-jeiron img {
    height: 400px;
}

.enllac-adrian h3, .enllac-jeiron h3 {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.footer-quisom {
    position: absolute;
}