.jugadores {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
}

.jugador {
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 20px;
}

img {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    width: 280px;
}

.informacio {
    margin-top: 20px;
}

.informacio p:nth-child(1) {
    text-align: center;
}

.informacio span {
    font-weight: 700;
}

.informacio p:nth-child(2) {
    font-weight: 700;
    margin-top: 5px;
    text-align: center;
}