section {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

form button {
    background-color: #6b9aff;
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin: 20px;
    padding: 10px;
    width: 300px;
}

form button:hover {
    background-color: #2160e9;
    color: #fff;
}